

* {
	box-sizing: border-box;
}

.navbar-default {
	background-color: #ffffff;
}

.navbar-brand {
	background-color: #4aaaa5;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 5px;
	font-size: x-large;
	color: #ffffff !important;
	font-family:'Georgia', Times, Times New Roman, serif;
}

.navbar-collapse {
	margin-top: 5px;
	font-family:'Georgia', Times, Times New Roman, serif;
}

.btmpadding {
	padding-bottom: 20px;
}

.panel-footer {
	background-color: #666666;
	color: #ffffff;
}

.btn-default {
	background-color: #4aaaa5;
	color: #ffffff;
}



/*font formatting*/

h1, h2, h3, h4 {
	font-family:'Georgia', Times, Times New Roman, serif;
}

.fntteal {
	color: #4aaaa5;
}

.brteal {
	background-color: #4aaaaf;
}


/*add concrete background*/
.cement {
	background-image: url("images/concrete_seamless.png");
	margin-bottom:0px;
	padding-bottom: 80px;
}


/* object properties */

h2 {
	border-bottom: 2px solid #dddddd;
	padding: 20px;
	color: #4aaaa5;
}

 h3 {
	color: #4aaaa5 !important;
	font-size: large !important;
	text-align: center;
	padding: 15px;
	border-bottom: 2px solid #dddddd;
}

.carousel-caption {
	background-color: #4aaaa5;
	padding:10px;

}

.bordertopteal {
	border-top: 5px solid #4aaaa5;
}


/* add hover over nav links to #4aaaa5 */

.activepage {
	background-color: #4aaaa5;
	color: white !important;
}

.navbar-brand:hover {
	background-color: #4aaaa5 !important;
}



li a:hover  {
       background-color: #4aaaa5 !important;
       color:white !important;
 }


.panel-heading, .panel-title {
	background-color: #ffffff !important;
}

.panel-default > .panel-heading{
	border-bottom: none;
}

p {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: medium;
}

.fontwhite {
	color: #ffffff !important;
}

label {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: large;
}
